[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
requests = "*"
rich = "*"
hypernetx = "*"
networkx = "*"
pydot = "*"
seaborn = "*"
aiohttp = "*"
upsetplot = "*"

[dev-packages]
black = "*"
ipython = "*"
jupyter = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.10"
